{% extends 'app/home.html' %}
{% block content %}


<div class="container shadow-lg  bg-white p-4 mt-2">
   <p>Welcome to our Weather App!</p>

    <p>Our Weather App is a powerful tool built using <strong>Python</strong> and <strong>Django</strong>, 
        designed to provide you with accurate and up-to-date weather information. 
        Powered by the <strong>OpenWeather API</strong>, it fetches real-time weather data from around the world and presents it to you in a user-friendly manner.</p>
    
    <p>Key Features:</p>
    <ol>
        <li>Current Weather Conditions: Get instant access to the current weather conditions in any location. 
            Our app retrieves data such as <strong>temperature, humidity, wind speed, and atmospheric pressure</strong> , 
            ensuring you have all the necessary information at your fingertips.</li>
        <li>Forecasting: Stay prepared with our reliable weather forecasts. Our app provides detailed forecasts for the next 5 days,with data every 3 hours by city name 
            giving you a clear understanding of what to expect in terms of temperature changes, humidity, and more.</li>
    </ol>
   
  </div> 

{% endblock content %}